In [173]:
import pandas as pd
import yfinance as yf
import numpy as np

In [194]:
x = yf.download(tickers = "^NSEI",  # list of tickers
            period = "20y",         # time period
            interval = "1d",       # trading interval
            prepost = False,       # download pre/post market hours data?
            repair = True)

WARNING Can't calibrate 1h block starting 2023-04-17 so aborting repair
WARNING Can't calibrate 1h block starting 2023-05-17 so aborting repair

[*********************100%***********************]  1 of 1 completed

In [195]:
x.tail()

,Open,High,Low,Close,Adj Close,Volume,Repaired?
Date,,,,,,,
2023-06-08,18725.349609,18777.900391,18615.599609,18634.550781,18634.550781,286500,False
2023-06-09,18655.900391,18676.650391,18555.400391,18563.400391,18563.400391,221800,False
2023-06-12,18595.050781,18633.599609,18559.750000,18601.500000,18601.500000,179500,False
2023-06-13,18631.800781,18728.900391,18631.800781,18716.150391,18716.150391,233200,False
2023-06-14,18744.599609,18753.800781,18690.000000,18739.250000,18739.250000,0,True

In [196]:
x = pd.DataFrame(x)

In [197]:
x = x.drop(["Adj Close","Volume","Repaired?"]   , axis = 1)

In [198]:
x["H20"] = x['High'].rolling(window=20).max()
x["H20"] = x["H20"].shift(1)

In [199]:
x["L20"] = x['Low'].rolling(window=20).min()
x["L20"] = x["L20"].shift(1)

In [200]:
x["H10"] = x['High'].rolling(window=10).max()
x["H10"] = x["H10"].shift(1)

In [201]:
x["L10"] = x['Low'].rolling(window=10).min()
x["L10"] = x["L10"].shift(1)

In [202]:
x["H55"] = x['High'].rolling(window=55).max()
x["H55"] = x["H55"].shift(1)

In [203]:
#x['Signal'] = np.where(x['Open'] > x['H20'], 1, -1)

In [204]:
x.head(21)

,Open,High,Low,Close,H20,L20,H10,L10,H55
Date,,,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,NaN,NaN,NaN,NaN,NaN
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,NaN,NaN,NaN,NaN,NaN
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,NaN,NaN,NaN,NaN,NaN
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,NaN,NaN,NaN,NaN,NaN
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,NaN,NaN,NaN,NaN,NaN
2007-09-24,4837.149902,4941.149902,4837.149902,4932.200195,NaN,NaN,NaN,NaN,NaN
2007-09-25,4939.100098,4953.899902,4878.149902,4938.850098,NaN,NaN,NaN,NaN,NaN
2007-09-26,4937.600098,4980.850098,4930.350098,4940.500000,NaN,NaN,NaN,NaN,NaN
2007-09-27,4942.700195,5016.399902,4942.700195,5000.549805,NaN,NaN,NaN,NaN,NaN
2007-09-28,4996.450195,5055.799805,4996.450195,5021.350098,NaN,NaN,NaN,NaN,NaN
2007-10-01,5021.500000,5089.299805,5001.350098,5068.950195,NaN,NaN,5055.799805,4481.549805,NaN
2007-10-03,5069.000000,5261.350098,5034.149902,5210.799805,NaN,NaN,5089.299805,4481.549805,NaN
2007-10-04,5211.649902,5233.100098,5126.049805,5208.649902,NaN,NaN,5261.350098,4550.250000,NaN
2007-10-05,5208.149902,5248.549805,5164.500000,5185.850098,NaN,NaN,5261.350098,4721.149902,NaN
2007-10-08,5186.250000,5249.299805,5024.750000,5085.100098,NaN,NaN,5261.350098,4733.700195,NaN
2007-10-09,5062.649902,5348.700195,5000.950195,5327.250000,NaN,NaN,5261.350098,4837.149902,NaN
2007-10-10,5328.149902,5454.700195,5328.149902,5441.450195,NaN,NaN,5348.700195,4878.149902,NaN
2007-10-11,5438.899902,5532.750000,5424.250000,5524.850098,NaN,NaN,5454.700195,4930.350098,NaN
2007-10-12,5525.299805,5549.299805,5402.600098,5428.250000,NaN,NaN,5532.750000,4942.700195,NaN
2007-10-15,5428.350098,5682.649902,5419.899902,5670.399902,NaN,NaN,5549.299805,4996.450195,NaN
2007-10-16,5670.649902,5708.350098,5578.450195,5668.049805,5682.649902,4481.549805,5682.649902,5000.950195,NaN

In [205]:
#x['Return'] = (x['Close']-x['Open'])/x['Open']

In [206]:
#x['Result'] = (x['Return']*x['Signal'])
#x['Result'].tail(x.shape[0]-20).mean()
#x.sort_values('Result')

In [207]:
#x = x.drop(["ATR"] , axis = 1)

In [209]:
x['D1'] = abs(x['High'] - x['Close'].shift())
x['D2'] = abs(x['Low']-x['Close'].shift())
x['D3'] = x['High'] - x['Low']
x['TR'] = x[["D1", "D2" , "D3"]].max(axis=1)

x = x.drop(["D1", "D2" , "D3"]   , axis = 1)

x['ATR'] = np.nan

In [210]:
###This is the start of out project

In [211]:
#pos is position variable
pos  = 0
range_atr = 20
# pos = 1 for 1st step-buy .... till 4

In [212]:
x.head(25)

,Open,High,Low,Close,H20,L20,H10,L10,H55,TR,ATR
Date,,,,,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,NaN,NaN,NaN,NaN,NaN,66.199707,NaN
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,NaN,NaN,NaN,NaN,NaN,70.250000,NaN
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,NaN,NaN,NaN,NaN,NaN,192.799805,NaN
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,NaN,NaN,NaN,NaN,NaN,39.700195,NaN
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,NaN,NaN,NaN,NaN,NaN,122.000000,NaN
2007-09-24,4837.149902,4941.149902,4837.149902,4932.200195,NaN,NaN,NaN,NaN,NaN,104.000000,NaN
2007-09-25,4939.100098,4953.899902,4878.149902,4938.850098,NaN,NaN,NaN,NaN,NaN,75.750000,NaN
2007-09-26,4937.600098,4980.850098,4930.350098,4940.500000,NaN,NaN,NaN,NaN,NaN,50.500000,NaN
2007-09-27,4942.700195,5016.399902,4942.700195,5000.549805,NaN,NaN,NaN,NaN,NaN,75.899902,NaN
2007-09-28,4996.450195,5055.799805,4996.450195,5021.350098,NaN,NaN,NaN,NaN,NaN,59.349609,NaN
2007-10-01,5021.500000,5089.299805,5001.350098,5068.950195,NaN,NaN,5055.799805,4481.549805,NaN,87.949707,NaN
2007-10-03,5069.000000,5261.350098,5034.149902,5210.799805,NaN,NaN,5089.299805,4481.549805,NaN,227.200195,NaN
2007-10-04,5211.649902,5233.100098,5126.049805,5208.649902,NaN,NaN,5261.350098,4550.250000,NaN,107.050293,NaN
2007-10-05,5208.149902,5248.549805,5164.500000,5185.850098,NaN,NaN,5261.350098,4721.149902,NaN,84.049805,NaN
2007-10-08,5186.250000,5249.299805,5024.750000,5085.100098,NaN,NaN,5261.350098,4733.700195,NaN,224.549805,NaN
2007-10-09,5062.649902,5348.700195,5000.950195,5327.250000,NaN,NaN,5261.350098,4837.149902,NaN,347.750000,NaN
2007-10-10,5328.149902,5454.700195,5328.149902,5441.450195,NaN,NaN,5348.700195,4878.149902,NaN,127.450195,NaN
2007-10-11,5438.899902,5532.750000,5424.250000,5524.850098,NaN,NaN,5454.700195,4930.350098,NaN,108.500000,NaN
2007-10-12,5525.299805,5549.299805,5402.600098,5428.250000,NaN,NaN,5532.750000,4942.700195,NaN,146.699707,NaN
2007-10-15,5428.350098,5682.649902,5419.899902,5670.399902,NaN,NaN,5549.299805,4996.450195,NaN,262.750000,NaN
2007-10-16,5670.649902,5708.350098,5578.450195,5668.049805,5682.649902,4481.549805,5682.649902,5000.950195,NaN,129.899902,NaN
2007-10-17,5658.899902,5658.899902,5107.299805,5559.299805,5708.350098,4481.549805,5708.350098,5000.950195,NaN,560.750000,NaN
2007-10-18,5551.100098,5736.799805,5269.649902,5351.000000,5708.350098,4550.250000,5708.350098,5000.950195,NaN,467.149902,NaN
2007-10-19,5360.350098,5390.850098,5101.750000,5215.299805,5736.799805,4721.149902,5736.799805,5000.950195,NaN,289.100098,NaN
2007-10-22,5202.750000,5247.399902,5070.899902,5184.000000,5736.799805,4733.700195,5736.799805,5000.950195,NaN,176.500000,NaN

In [218]:
x['ATR'][range_atr] = x.iloc[1:(range_atr+1)]['TR'].mean()
for i in range (range_atr+1 , x.shape[0]):
    x['ATR'][i] =  ((x['ATR'][i-1]*(range_atr-1))+x['TR'][i])/range_atr

In [219]:
x.head(25)

,Open,High,Low,Close,H20,L20,H10,L10,H55,TR,ATR
Date,,,,,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,NaN,NaN,NaN,NaN,NaN,66.199707,NaN
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,NaN,NaN,NaN,NaN,NaN,70.250000,NaN
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,NaN,NaN,NaN,NaN,NaN,192.799805,NaN
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,NaN,NaN,NaN,NaN,NaN,39.700195,NaN
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,NaN,NaN,NaN,NaN,NaN,122.000000,NaN
2007-09-24,4837.149902,4941.149902,4837.149902,4932.200195,NaN,NaN,NaN,NaN,NaN,104.000000,NaN
2007-09-25,4939.100098,4953.899902,4878.149902,4938.850098,NaN,NaN,NaN,NaN,NaN,75.750000,NaN
2007-09-26,4937.600098,4980.850098,4930.350098,4940.500000,NaN,NaN,NaN,NaN,NaN,50.500000,NaN
2007-09-27,4942.700195,5016.399902,4942.700195,5000.549805,NaN,NaN,NaN,NaN,NaN,75.899902,NaN
2007-09-28,4996.450195,5055.799805,4996.450195,5021.350098,NaN,NaN,NaN,NaN,NaN,59.349609,NaN
2007-10-01,5021.500000,5089.299805,5001.350098,5068.950195,NaN,NaN,5055.799805,4481.549805,NaN,87.949707,NaN
2007-10-03,5069.000000,5261.350098,5034.149902,5210.799805,NaN,NaN,5089.299805,4481.549805,NaN,227.200195,NaN
2007-10-04,5211.649902,5233.100098,5126.049805,5208.649902,NaN,NaN,5261.350098,4550.250000,NaN,107.050293,NaN
2007-10-05,5208.149902,5248.549805,5164.500000,5185.850098,NaN,NaN,5261.350098,4721.149902,NaN,84.049805,NaN
2007-10-08,5186.250000,5249.299805,5024.750000,5085.100098,NaN,NaN,5261.350098,4733.700195,NaN,224.549805,NaN
2007-10-09,5062.649902,5348.700195,5000.950195,5327.250000,NaN,NaN,5261.350098,4837.149902,NaN,347.750000,NaN
2007-10-10,5328.149902,5454.700195,5328.149902,5441.450195,NaN,NaN,5348.700195,4878.149902,NaN,127.450195,NaN
2007-10-11,5438.899902,5532.750000,5424.250000,5524.850098,NaN,NaN,5454.700195,4930.350098,NaN,108.500000,NaN
2007-10-12,5525.299805,5549.299805,5402.600098,5428.250000,NaN,NaN,5532.750000,4942.700195,NaN,146.699707,NaN
2007-10-15,5428.350098,5682.649902,5419.899902,5670.399902,NaN,NaN,5549.299805,4996.450195,NaN,262.750000,NaN
2007-10-16,5670.649902,5708.350098,5578.450195,5668.049805,5682.649902,4481.549805,5682.649902,5000.950195,NaN,129.899902,132.204956
2007-10-17,5658.899902,5658.899902,5107.299805,5559.299805,5708.350098,4481.549805,5708.350098,5000.950195,NaN,560.750000,153.632208
2007-10-18,5551.100098,5736.799805,5269.649902,5351.000000,5708.350098,4550.250000,5708.350098,5000.950195,NaN,467.149902,169.308093
2007-10-19,5360.350098,5390.850098,5101.750000,5215.299805,5736.799805,4721.149902,5736.799805,5000.950195,NaN,289.100098,175.297693
2007-10-22,5202.750000,5247.399902,5070.899902,5184.000000,5736.799805,4733.700195,5736.799805,5000.950195,NaN,176.500000,175.357809

In [220]:
x.to_csv('x.csv')